.performance-chart-container {
  max-width: 900px;
  margin: 20px auto 40px;
  /* background: rgba(255 255 255 / 0.05); */
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(0 153 255 / 0.3);
  padding: 20px;
  color: black;
}
